/* set font to arial */
body {
    font-family: Arial;
  }
/* center all the headers */
  h1, h2, h3 {
    text-align: center;
  }
/* flex container formatting */
  .row {
    display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
/* scatter plot formatting */
  .scatter {
    opacity: 75%;
  }
/* bar chart formatting */
  .bar {
    opacity: 75%;
  }
/* scatterplot highlight/selection formatting */
  .selected {
    stroke-width: 3px;
    stroke:rgb(0,0,0);
    opacity: 1;
  }